{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        Your username and password didn't match. Please try again.
    </div>
    {% endif %}
    {% if next %}
    {% if user.is_authenticated %}
    <div class="alert alert-warning" role="alert">
        Your account doesn't have access to this page. To proceed, please login with an account that has access.
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
        Please login to see this page.
    </div>
    {% endif %}
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <fieldset>
            <legend>Login</legend>
            <table>
                {{form.as_table}}
            </table>
            <input class="btn btn-primary mt-3 mb-1 px-4 py-2" type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </fieldset>
    </form>
{% endblock %}
