:root {
    --main-color: dodgerblue !important;
    --main-bg-color: whitesmoke !important;
}

html {
    scroll-behavior: smooth !important;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: var(--main-bg-color) !important;
}

.primary-color {
    color: var(--main-color) !important;
}
